## 01. Importing Libraries

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data

Example: df = pd.read_csv(r'folderpath\name.csv', index_col = False)
df = dataframe
pd = pandas
period seperates library from function
"read_csv()" is a function that reads a csv file
"r" is reading the file as raw with the quotation marks, doesn't perform any functions/calcs
index_col = false, represents the "how". False means don't let pandas create an index column

In [2]:
#Importing orders csv file
df = pd.read_csv(r'/Users/puneet/Desktop/Instacart Basket Analysis 08-2025/02 Data/Original Data/orders.csv',index_col = False)

In [3]:
#Python shortcuts for path files
path = r'/Users/puneet/Desktop/Instacart Basket Analysis 08-2025'

In [4]:
path

'/Users/puneet/Desktop/Instacart Basket Analysis 08-2025'

#Example using os.path.join
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [5]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

## 03. Exploring Data

In [6]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

head() function displays the first 5 rows of the dataframe, input a number head(30) for more rows

In [7]:
df.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0

In [8]:
#tail function displays the end of teh dataframe
df.tail()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [9]:
#df.shape function returns the dimensions of the dataframe (rows, columns/variables)
df.shape

(3421083, 7)

In [10]:
#df.info() function returns basic information about dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [11]:
#df.dtypes functions shows the data types for each column
df.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [12]:
#df.columns function shows column data
df.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [13]:
#df.describe() function shows you descriptive statistics of each column
df.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

## 04. Python Data Structures: Lists

In [14]:
#Importing orders csv file (only importing 1000 rows)
df = pd.read_csv(r'/Users/puneet/Desktop/Instacart Basket Analysis 08-2025/02 Data/Original Data/orders.csv',nrows=1000)

In [15]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [16]:
vars_list

['order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [17]:
#Importing orders csv file (using new vars_list)
df = pd.read_csv(r'/Users/puneet/Desktop/Instacart Basket Analysis 08-2025/02 Data/Original Data/orders.csv',usecols = vars_list)

In [18]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

New dataframe excludes "eval_set" (column we didn't need)

In [19]:
df.shape

(3421083, 6)