## Python Fundamentals - Exercise 4.7

1. Derive new variables using if-statements and for-loops
    - Targeted Marketing
    - Exclusion Flags
    - Aggregated Data

User-defined functions
1. Definition of the name and arguments the function will take
2. What the function is meant to do

In [1]:
#Define Function
def add_num(x,y):
    sum = x + y
    return sum

In [2]:
# Run function
add_num(9,11)

20

## -

## Import Libraries and Paths

In [3]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [4]:
path = r'/Users/puneet/Desktop/Instacart Basket Analysis 08-2025'

In [5]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','ords_prods_merge.pkl'))

In [6]:
#Limit dataframe to 1 million rows
df = ords_prods_merge[:1000000]

In [7]:
#Check shape to see row count
df.shape

(1000000, 14)

## -

## If-Statements with User-Defined Functions

In [8]:
# Create price label filter:
def price_label(row):

    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return np.nan

How label above function is read:
- If the value within the “prices” column within the given row is less than or equal to 5, then return the string “Low-range product.”
- Or else, if the value within the “prices” column within the given row is greater than 5 and less than or equal to 15, then return the string “Mid-range product.”
- Or else, if the value of the “prices” column within the given row is greater than 15, then return the string “High-range product.”
- Or else, return the string “Not enough data.”

df.head()

In [10]:
df.tail()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
999995,2789027,6474,2,3,8,30.0,3020,7,0,Broccoli & Apple Stage 2 Baby Food,92,18,12.9,both
999996,2789027,6474,2,3,8,30.0,35823,8,0,Complete Foaming Antibacterial Hand Soap Varie...,127,11,7.3,both
999997,2789027,6474,2,3,8,30.0,27681,9,0,Lower Sugar Instant Oatmeal Variety,130,14,3.5,both
999998,2789027,6474,2,3,8,30.0,2091,10,0,Almond Nut & Rice Cracker Snacks,78,19,6.8,both
999999,2789027,6474,2,3,8,30.0,44199,11,0,Toll House Mini Chocolate Chip Cookie Dough,105,13,2.9,both

In [11]:
#Apply new function
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/_t/l5t5ly6n7sng4v9pk5llghjh0000gn/T/ipykernel_84695/223148287.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

Above function explained:
- "df['price_range'] creates new column iwthin dataframe
- On the right side of the equals sign comes the code that runs your new function: df.apply(price_label, axis=1), which tells Python to apply the price_label function on axis=1. This axis = 1 stands for “rows,” so this code essentially tells Python to apply the function to all rows within the dataframe. Conversely, axis = 0 would refer to all columns within the dataframe.

In [12]:
#Shows breakdown of new columns values
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673183
Low-range product    314392
High range            12425
Name: count, dtype: int64

In [13]:
#Max price
df['prices'].max()

99999.0

### Getting different values for each range in subset dataframe than exercise 4.7 example

## _

## If-Statements with loc() Function

In [14]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High range product'

/var/folders/_t/l5t5ly6n7sng4v9pk5llghjh0000gn/T/ipykernel_84695/2555204669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High range product'

In [15]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [16]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low range product'

In [17]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid range product     673183
Low range product     314392
High range product     12425
Name: count, dtype: int64

Similar to the first if-then statements, but slightyle different
- The two implied halves of the if-statement, then, would be:
    - if = df.loc[df['prices'] > 15,
    - then = 'price_range_loc'] = 'High-range product'
- Remember—the comma is key! It’s what separates the “if” from the “then.”

loc() function works faster, as it applies the filter before searching the dataframe

## -

Try loc() function on the whole dataframe instead of subset

In [18]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High range product'

In [19]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [20]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low range product'

In [21]:
ords_prods_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid range product     21860860
Low range product     10126321
High range product      417678
Name: count, dtype: int64

## -

## If-Statements with For-Loops

"My Age is X" example, for ages 30-45

In [22]:
print('My age is 30')

My age is 30

In [23]:
print('My age is 31')

My age is 31

In [24]:
print('My age is 32')

My age is 32

In [25]:
print('My age is 33')

My age is 33

Now do a "for-loop" to save time:

In [26]:
for x in range(30,45):
    print('My age is %d' %(x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

#### *What is the "%d" portion of the for-loop?*

## -

For-loop example in ords_prods_merge dataframe
- Find busiest and slowest days based on "days_of_the_week"

In [27]:
ords_prods_merge['orders_day_of_the_week'].value_counts(dropna = False)

orders_day_of_the_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

- 0 shows the busiest day, Saturday
- 4 shows the least busy day, Wednesday

In [28]:
#For-loop code for day of the week
result = []
for value in ords_prods_merge['orders_day_of_the_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

The first step is to create an empty list, result. This will act as the empty shell, into which you can place the results from your loop. Then comes the loop itself. Here, you’re telling Python that for each value within the “orders_day_of_week” column, you want to do something. That something comes below it, where you’ll see a familiar if-else structure. If the value in that row is equal to 0, a “Busiest day” string value is appended to your currently blank result list. If the value is equal to 4, a “Least busy” string value is appended to the result list. If neither of these conditions has been met (the value is neither 0 nor 4), then a “Regularly busy” string value is appended to the result list.

In [ ]:
#New column that shows the results
result

In [30]:
#Created new "busiest_column" and equal it to the "result" list we created
ords_prods_merge['busiest_day'] = result

In [31]:
#Show results of new column
ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

## -

## Exercise 4.7 Tasks

2. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [34]:
#Check days of the week
ords_prods_merge['orders_day_of_the_week'].value_counts(dropna = False)

orders_day_of_the_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

- 0 and 1 are the "busiest days"
- 3 and 4 are the "slowest days"
- Everything else is "regularly busy"

In [64]:
#New for-loop for busiest and slowest days
result_new = []
for value in ords_prods_merge['orders_day_of_the_week']:
    if value in (0,1):
        result_new.append('Busiest days')
    elif value in (4,3):
        result_new.append('Slowest days')
    else:
        result_new.append('Regular days')

In [ ]:
#Check new result column
result_new

3. Check the values of this new column for accuracy. Note any observations in markdown format.

In [66]:
#Create new results column
ords_prods_merge['busiest_days'] = result_new

In [67]:
#Check new column values
ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regular days    12916111
Busiest days    11864412
Slowest days     7624336
Name: count, dtype: int64

4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [63]:
#Check for the order hour results
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

- Busiest hours: 10,11,14,15,13,12,16,9
- Slowest hours: 3,4,2,5,1,0,6,23
- Averge hours: 22,21,7,20,19,18,8,17

In [81]:
#New loop for busiest and slowest hours
results_hours = []

for value in ords_prods_merge['order_hour_of_day']:
    if value in (10,11,14,15,13,12,16,9):
        results_hours.append('Busiest hours')
    elif value in (3,4,2,5,1,0,6,23):
        results_hours.append('Slowest hours')
    elif value in (22,21,7,20,19,18,8,17):
        results_hours.append('Average hours')

In [ ]:
#Show results of hours
results_hours

In [83]:
#Creating new busiest hours column using new reults hours column
ords_prods_merge['busiest_period_of_day'] = results_hours

6. Print the frequency for this new column

In [85]:
#Show count results of new and completed column
ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Busiest hours    21118071
Average hours     9997651
Slowest hours     1289137
Name: count, dtype: int64

7. Export dataframe as pickle file

In [87]:
#Export as PKL file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_new.pkl'))